@use "sass:map";
@use "../../../styles/variables" as *;

.contacts-section {
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  
  // Fixed height might not be responsive, using min-height instead
  min-height: 146px;
}

// Theme colors
.contacts-section.red-bg {
  background-color: $primary-color;
}

.contacts-section.white-bg {
  background-color: $white;
}