<!-- Footer Component -->
<div class="footer-bg">
  <div class="footer-container container py-5">
    <div class="row">
      <!-- About Us Section -->
      <div class="col-lg-3 col-md-6 mb-4">
        <h3 class="section-title">{{ footerContent.about.title }}</h3>
        <p class="about-text">
          {{ footerContent.about.description }}
        </p>
        <div class="social-links">
          <a *ngFor="let social of footerContent.about.socialLinks"
             [href]="social.link" 
             class="social-link">
             <i [class]="social.icon"></i>
          </a>
        </div>
      </div>
  
      <!-- Our Services Section -->
      <div class="col-lg-3 col-md-6 mb-4">
        <h3 class="section-title">{{ footerContent.services.title }}</h3>
        <ul class="services-list">
          <li *ngFor="let service of footerContent.services.items">
            <i class="fas {{ service.icon }}"></i> {{ service.name }}
          </li>
        </ul>
      </div>
  
      <!-- Categories Section -->
      <div class="col-lg-3 col-md-6 mb-4">
        <h3 class="section-title">{{ footerContent.categories.title }}</h3>
        <div class="categories-grid">
          <a *ngFor="let category of footerContent.categories.items" 
             [href]="category.link" 
             class="category-tag">{{ category.name }}</a>
        </div>
      </div>
  
      <!-- Latest Projects Section -->
      <div class="col-lg-3 col-md-6 mb-4">
        <h3 class="section-title">{{ footerContent.latestProjects.title }}</h3>
        <div class="latest-posts">
          <div *ngFor="let project of footerContent.latestProjects.items" class="post-item d-flex mb-3">
            <div class="post-image">
              <img [src]="project.image" [alt]="project.title" class="img-fluid">
            </div>
            <div class="post-content">
              <h4 class="post-title">{{ project.title }}</h4>
              <p class="post-date">{{ project.date }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

