<!-- Contact Item Container -->
<div class="contact-item" 
     *ngIf="contactItemData"
     [class.clickable]="isClickable()"
     (click)="handleContactClick()">
  <!-- Icon Container -->
  <div class="contact-icon" [class]="{
    'border-red': contactItemData.borderColor === 'red',
    'border-gray': contactItemData.borderColor === 'gray'
  }">
    <img [src]="contactItemData.icon" alt="Contact Icon" class="icon-svg-image">
  </div>
  
  <!-- Contact Information -->
  <div class="contact-info" [class]="{
    'white-text': contactItemData.whiteText,
    'black-text': !contactItemData.whiteText
  }">
    <div class="label">{{ contactItemData.label }}</div>
    <div class="value">{{ contactItemData.value }}</div>
  </div>
</div>
