<div class="about-section container">
  <div class="text-center mb-5">
    <app-section-title [data]="sectionTitleData"></app-section-title>
  </div>

  <div class="row align-items-center">
    <div class="col-lg-6 mb-4 mb-lg-0">
      <div class="about-image-container">
        <img src="about.png" alt="Professional rhconstructs" class="img-fluid rounded-circle">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="features-list">
        <div class="app-about-item mb-4" *ngFor="let item of aboutItemData">
          <app-about-item [aboutItemData]="item"></app-about-item>
        </div>
      </div>
    </div>
  </div>
</div>
