<div class="top-header">
  <div class="container">
    <div class="contact-info">
      <div class="contact-item" *ngFor="let item of data.leftItems">
        <img [src]="item.icon" [alt]="item.alt" class="contact-icon-svg-image">
        <a [href]="'tel:' + item.name" class="contact-item-link">{{item.name}}</a>
      </div>
    </div>
    <div class="social-links">
      <a *ngFor="let item of data.rightItems" [href]="item.link" class="social-link" target="_blank">
        <i [class]="item.icon"></i>
      </a>
    </div>
  </div>
</div>
