@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mixins" as *;

.section-title {
    // padding: 60px 15px;
    max-width: 1000px;
    // margin: 0 auto;
  
    .title {
      font-family: $font-family-base;
      font-size: $font-size-3xl;
      font-weight: $font-weight-semibold;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
      color: $text-black;
      letter-spacing: 1px;
  
      @include media-breakpoint-down(md) {
        font-size: 1.5rem;
      }
  
      @include media-breakpoint-down(sm) {
        font-size: 1.75rem;
      }
    }
  
    .accent-line {
      width: 70px;
      height: 3px;
      background-color: $primary-color;
      margin: 0 auto 2rem;
    }
  
    .description {
      font-family: $font-family-base;
      font-size: $font-size-base;
      font-weight: $font-weight-normal;
      line-height: $line-height-relaxed;
      max-width: 800px;
      margin: 0 auto;
      color: $text-dark;
      
      @include media-breakpoint-down(md) {
        line-height: 1.6;
        padding: 0 15px;
      }
    }
  }