@use "bootstrap/scss/bootstrap" as *;

@use "styles/variables" as *;
@use "styles/mixins" as *;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');

html, body {
  height: 100%;
  overscroll-behavior: none;
}


// Global icon styles
i[class^="fa-"],
i[class*=" fa-"] {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

// Global styles for links with icons
a {
  &[class*="fa-"],
  & i[class*="fa-"] {
    text-decoration: none;
  }
}

// Container styles
.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

html {
  scroll-behavior: auto !important;
}

.icon-svg-image.contact-icon-svg-image {
  width: 54px;
  
  @media (max-width: 991px) {
    width: 46px; // For tablets
  }
  
  @media (max-width: 576px) {
    width: 28px; // For mobile
  }
}

.icon-svg-image {
  width: 60px;
  
  // @media (max-width: 991px) {
  //   width: 46px; // For tablets
  // }
  
  // @media (max-width: 576px) {
  //   width: 28px; // For mobile
  // }
}